:root {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(38, 166, 154);
}

.card {
  max-width: 600px;
  margin: 100px auto;
  padding: 50px;
}

.container {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "input generateTable reset"
    "table table table";
}

.table {
  grid-area: table;
  grid-column-start: 1;
  grid-column-end: span 3;
  overflow-x: auto;
}

.input {
  grid-area: input;
}
.generateButton {
  grid-area: generateTable;
}

.resetButton {
  grid-area: reset;
}

@media only screen and (max-width: 600px) {
  .card {
    max-width: 300px;
    margin: 100px auto;
    padding: 50px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    grid-template-areas:
      "input"
      "generateTable"
      "table"
      "reset";
  }

  .input {
    grid-area: input;
  }
  .generateButton {
    grid-area: generateTable;
  }

  .resetButton {
    grid-area: reset;
  }
  .table {
    grid-area: table;
    overflow-x: auto;
  }
}
